* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  padding: 20px 10px;
  /* What is the Difference Btweeen Cells and Items */
  /* grid-row and grid-col */
  /* grid-template-areas:; */
}

/* Different Color to each Items  */
#item-1 {
  background-color: yellowgreen;
  grid-column: span 1;
  grid-row: span 3;
  margin: 2px 4px;
}
#item-2 {
  background-color: yellowgreen;
  grid-column: span 2;
  margin: 2px 4px;
}
#item-3 {
  background-color: tomato;
  grid-column: span 1;
  margin: 2px 4px;
}
#item-4 {
  background-color: orange;
  grid-column: span 1;
  margin: 2px 4px;
}
#item-5 {
  background-color: tomato;
  grid-column: span 1;
  margin: 2px 4px;
}
#item-6 {
  background-color: yellowgreen;
  grid-row: span 2;
  margin: 2px 4px;
}
#item-7 {
  background-color: tomato;
  grid-row: span 2;
  margin: 2px 4px;
}
#item-8 {
  background-color: orange;
  grid-column: span 1;
  margin: 2px 4px;
}
